mixin articlesList(articles)
  //- iterate through data with 'each...in...'
  each article in articles
    li#article Title: #{article.title} Body: #{article.body} Author: #{article.author} URLTitle: #{article.url_Title}